<div class="card-container">
  <div class="top-part">
    <img class="tour-image" [src]="imageNames.cardImage" alt="">
    <img class="fav-button" [src]="favButton" alt="" (click)="favoritesClicked()">
  </div>
  
  <div class="main-field">
    <div class="title">
      {{ tourEvent.Tour!.route }}
    </div>
    <div class="price">${{ tourEvent.price }}</div>
  </div>

  <div class="desc">
    {{ ellipsedDesc }}
  </div>

  <div class="details" (click)="seeDetails()" i18n>
    Details
  </div>
</div>
