<div class="card-container">
  <div class="top-part">
    <img class="tour-image" [src]="imageNames.cardImage" alt="">
    <img class="fav-button" [src]="imageNames.favorite" alt="" (click)="favoritesClicked()">
    <!-- TODO: Maybe show the tours the logged in user added to their favorites -->
  </div>
  
  <div class="main-field">
    <div class="title">
      {{ tour.route }}
    </div>
    <div class="price">$150</div>
  </div>

  <div class="desc">
    {{ ellipsedDesc }}
  </div>

  <div class="details" (click)="seeDetails()">
    Details
  </div>
</div>
