<div class="card-container">
  <div class="top-part">
    <img class="tour-image" src="assets/images/tour-example-1.png" alt="">
    <img class="fav-button" src="assets/images/heart-icon.svg" alt="" (click)="favoritesClicked()">
    <!-- TODO: Maybe show the tours the logged in user added to their favorites -->
  </div>
  
  <div class="main-field">
    <div class="title">
      Kolsay, kaindy lakes & charyn canyon
    </div>
    <div class="price">$150</div>
  </div>

  <div class="desc">
    TOP natural landmarks of Almaty - Charyn Canyon, Black and Moon Canyons, Kolsay and Kaindy Lakes
  </div>

  <div class="details" (click)="seeDetails(tour.id)">
    Details
  </div>
</div>
