.card-container {
  width: 312px; 
  height: 345px; 
  position: relative;
}

.top-part {
  position: relative;
}

.tour-image {
  width: 312px; 
  height: 186px; 
  position: absolute;
}

.fav-button {
  width: 40px; 
  height: 40px; 
  position: absolute; 
  right: 10px; 
  top: 10px;
}
.fav-button:hover {
  cursor: pointer;
}

.main-field {
  width: 100%; 
  height: 40px; 
  position: relative; 
  top: 186px; 
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}

.title {
  height: 100%;
  max-height: 100%;
  width: 50%; 
  padding-left: 15px; 
  overflow: hidden; 
  /* Ellipsis is done in the script */
  /* display: block;
  white-space: nowrap; */
  text-overflow: ellipsis; 
  color: black; 
  font-size: 15px; 
  font-family: Poppins; 
  font-weight: 600; 
  text-transform: capitalize; 
  line-height: 20px;
}

.price {
  width: 156px; 
  text-align: end; 
  padding-right: 15px;
}

.desc {
  position: relative; 
  width: 100%; 
  height: 72px; 
  top: 190px; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  /* Ellipsis is done in the script */
  color: black; 
  font-size: 15px; 
  font-family: Poppins; 
  font-weight: 400; 
  text-transform: capitalize; 
  line-height: 24px;
}

.details {
  margin: auto; 
  position: relative; 
  width: 55px; 
  height: 24px; 
  top: 60%; 
  background-color: black; 
  color: white; 
  text-align: center; 
  line-height: 22.5px; 
  padding-left: 32px; 
  padding-right: 32px; 
  border-radius: 10px; 
  font-size: 16px; 
  font-family: Poppins; 
  font-weight: 400; 
  text-transform: capitalize;
}
.details:hover {
  cursor: pointer;
}