<div style="width: 100%; height: 69px; position: relative; display: flex; justify-content: space-between; align-items: center; background: white">
    <!-- SkyWay Travel main page -->
    <div style="height: 50px; width: 256px; display: flex; justify-content: space-between; align-items: center;">
        <img style="background-color: red; width: 44px; height: 44px;" [src]="imageNames.skyway" alt="SkyWay Travel logo">
        <span style="color: black; font-size: 24px; font-family: Poppins; font-weight: 500; text-transform: uppercase; line-height: 32px;">SkyWay Travel</span>
    </div>
    <!-- Pages -->
    <div style="width: 500px; height: 100%; display: flex;  align-items: center; justify-content: space-evenly;">
        <div style="width: min-content; color: black; font-size: 24px; font-family: Poppins; font-weight: 400; text-transform: capitalize; line-height: 32px; word-wrap: break-word">About</div>
        <div style="width: min-content; color: black; font-size: 24px; font-family: Poppins; font-weight: 400; text-transform: capitalize; line-height: 32px; word-wrap: break-word">Schedule</div>
        <div style="width: min-content; color: black; font-size: 24px; font-family: Poppins; font-weight: 400; text-transform: capitalize; line-height: 32px; word-wrap: break-word">Trips</div>
        <div style="width: min-content; color: black; font-size: 24px; font-family: Poppins; font-weight: 400; text-transform: capitalize; line-height: 32px; word-wrap: break-word">Contacts</div>
    </div>
    <!-- Icons -->
    <div style="width: 162px; height: 100%; display: flex; justify-content: space-between; align-items: center;">
        <img class="icon" [src]="imageNames.notifications" alt="notifications">
        <img class="icon" [src]="imageNames.favorite" alt="favorites">
        <img class="icon" [src]="imageNames.userProfile" alt="user profile">
    </div>
</div>
