<div class="footer-container">
    <div class="socials">
        <div class="social-button">
            <img [src]="imageNames.facebook" alt="Facebook link">
        </div>
        <div class="social-button">
            <img [src]="imageNames.twitter" alt="Twitter link">
        </div>
        <a href="https://www.instagram.com/skyway_travel_kazakhstan?igsh=MWtuM3pmdGQwMmYxYg==" target="_blank" rel="noopener noreferrer">
            <div class="social-button">
                <img [src]="imageNames.instagram" alt="Instagram link">
            </div>
        </a>
    </div>
    <div class="contacts">
        <div class="contact-field">
            <img class="field-icon" [src]="imageNames.phone" alt="">
            <div class="field-text">+7 (727) 355 0255</div>
        </div>
        <div class="contact-field">
            <img class="field-icon" [src]="imageNames.mail" alt="">
            <div class="field-text">info&#64;skywaytravel.com</div>
        </div>
    </div>
    <div class="links-container">
        <div class="links-column">
            <div class="link">Help Center</div>
            <div class="link">Privacy and cookies statement</div>
            <div class="link">Blog</div>
        </div>
        <div class="links-column">
            <div class="link">Careers</div>
            <div class="link">Site Map</div>
            <div class="link">Supplier Sign Up</div>
        </div>
        <div class="links-column">
            <div class="link">Travel Agent</div>
            <div class="link">Become an Affiliate</div>
            <div class="link">News</div>
        </div>  
    </div>
</div>
