.header-container {
  width: 100%; 
  height: 69px; 
  position: relative; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  background-color: white;
}

.logo {
  height: 50px; 
  width: 245px; 
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  padding-left: 20px;
}
.logo:hover {
  cursor: pointer;
}

.logo-image {
  width: 44px; 
  height: 44px;
}

.logo-text {
  color: black; 
  font-size: 24px; 
  font-family: Poppins; 
  font-weight: 500; 
  text-transform: uppercase; 
  line-height: 32px;
}

.links-to-pages {
  width: 500px; 
  height: 100%; 
  display: flex;
  align-items: center; 
  justify-content: space-evenly;
}

.link {
  height: 100%;
  align-content: center;
  width: min-content; 
  color: black; 
  font-size: 24px; 
  font-family: Poppins; 
  font-weight: 400; 
  text-transform: capitalize; 
  line-height: 32px;
  padding-left: 10px;
  padding-right: 10px;
}
.link:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}

.icon-container {
  width: 48px; 
  height: 100%; 
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}

.icon {
  width: 44px;
  height: 44px;
}

.icon:hover {
  cursor: pointer;
}

/* .carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 600px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.left { left: 10px; }
.right { right: 10px; }

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
} */

/* .carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 600px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.carousel-track-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.left { left: 10px; }
.right { right: 10px; }

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
} */


  