<div class="header-container">
    <!-- SkyWay Travel main page -->
    <div class="logo" (click)="goToMain()">
        <img class="logo-image" [src]="imageNames.skyway" alt="SkyWay Travel logo">
        <span class="logo-text">SkyWay Travel</span>
    </div>
    <!-- Pages -->
    <div class="links-to-pages">
        <div class="link" (click)="goToAboutUs()" i18n>About</div>
        <div class="link" (click)="goToSchedule()" i18n>Schedule</div>
        <div class="link" (click)="goToTrips()" i18n>Trips</div>
        <div class="link" (click)="goToContacts()" i18n>Contacts</div>
    </div>
    <!-- Icons -->
    <div class="icon-container">
        <!-- <img class="icon" [src]="imageNames.notifications" alt="notifications"> -->
        <!-- <img class="icon" [src]="imageNames.favorite" alt="favorites"> -->
        
        <!-- <img [matMenuTriggerFor]="menu" class="icon" [src]="imageNames.userProfile" alt="user profile"> -->
        @if (userData != null && userData != undefined && userData.userId != null && userData.userId != undefined) {
            <img [matMenuTriggerFor]="loggedMenu" class="icon" [src]="imageNames.userProfile" alt="user profile">
            <mat-menu #loggedMenu="matMenu">
                <button mat-menu-item (click)="goToProfile()">Profile</button>
                <button mat-menu-item (click)="goToFavorites()">Favorites</button>
                <button mat-menu-item (click)="goToNotifications()">Notifications</button>
                <button mat-menu-item (click)="logOut()">Log Out</button>
            </mat-menu>
        }
        @else {
            <img [matMenuTriggerFor]="menu" class="icon" [src]="imageNames.userProfile" alt="user profile">
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="goToSignIn()" i18n>Sign In</button>
                <button mat-menu-item (click)="goToRegister()" i18n>Register</button>
            </mat-menu>
        }
    </div>
</div>

@if (showNotifications) {
    <div class="notifications-popup">
        <app-notifications (childShow)="closeNotifications()"></app-notifications>
    </div>
}