<div class="header-container">
    <!-- SkyWay Travel main page -->
    <div class="logo">
        <img class="logo-image" [src]="imageNames.skyway" alt="SkyWay Travel logo">
        <span class="logo-text">SkyWay Travel</span>
    </div>
    <!-- Pages -->
    <div class="links-to-pages">
        <div class="link">About</div>
        <div class="link">Schedule</div>
        <div class="link">Trips</div>
        <div class="link">Contacts</div>
    </div>
    <!-- Icons -->
    <div class="icon-container">
        <!-- <img class="icon" [src]="imageNames.notifications" alt="notifications"> -->
        <!-- <img class="icon" [src]="imageNames.favorite" alt="favorites"> -->
        
        <!-- <img [matMenuTriggerFor]="menu" class="icon" [src]="imageNames.userProfile" alt="user profile"> -->
        @if (isLoggedIn) {
            <img [matMenuTriggerFor]="loggedMenu" class="icon" [src]="imageNames.userProfile" alt="user profile">
            <mat-menu #loggedMenu="matMenu">
                <button mat-menu-item (click)="goToProfile()">Profile</button>
                <button mat-menu-item (click)="goToFavorites()">Favorites</button>
                <button mat-menu-item (click)="goToNotifications()">Notifications</button>
            </mat-menu>
        }
        @else {
            <img [matMenuTriggerFor]="menu" class="icon" [src]="imageNames.userProfile" alt="user profile">
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="goToSignIn()">Sign In</button>
                <button mat-menu-item (click)="goToRegister()">Register</button>
            </mat-menu>
        }
    </div>
</div>
