<div style="width: 380px; height: 100%; background: white; border-radius: 15px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
    <div style="width: 380px; height: 200px; position: relative; overflow: hidden;">
        <img style="width: 380px; height: 268.53px; left: 0px; top: -34.26px; position: absolute; object-fit: cover;" src="https://s3-alpha-sig.figma.com/img/47a7/16b1/e5a0ee3aaa8743fce358b73bc029faf2?Expires=1739145600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=Iq0YJblU7OcMt7nktY-dWHxzjbz2cEH4Cjiywn6qVDDma-BCPmVitDxFCeSSy2~NIHiYmUjhtcKWwRqGxFa33ueLfubDPlDgD92VdcYw1oCT0yVswwZs94cbLEVt~GC3rJK0meZw3Zw2LMb8cXI7mXihJAqDis~yaDcyD~vWsAt3IRxA~40221PNFO47AtvJ~3Q7P286v6z9Ul~Mv5etQ4EiLJ9mDl-lotIe5ql~HO1PC7VzFl1JxV6M6x0Zi27GhQP9qJVQiIJS4rBL63zpe1tT1LNewx1dnVoo7h1wCcrp3HnAojLuJ~ePfqS5mLfgqecyj2Wbw6cNEFjoe0WfDw__" />
        <div style="padding-top: 9.95px; padding-bottom: 9.55px; padding-left: 21.85px; padding-right: 21.15px; left: 0px; top: 0px; position: absolute; background: rgba(222, 69, 69, 0.70); box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.50); flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
            <div style="color: white; font-size: 12.50px; font-family: Inter; font-weight: 700; line-height: 15.60px; word-wrap: break-word">up to 20% </div>
            <div style="color: white; font-size: 12.50px; font-family: Inter; font-weight: 700; line-height: 15.60px; word-wrap: break-word">OFF</div>
        </div>
        <div style="padding-top: 9.95px; padding-bottom: 9.55px; padding-left: 26.15px; padding-right: 25.23px; left: 274.99px; top: 0px; position: absolute; background: rgba(77, 76, 76, 0.79); box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.50); flex-direction: column; justify-content: center; align-items: flex-start; display: inline-flex">
            <div style="color: white; font-size: 12.50px; font-family: Inter; font-weight: 700; line-height: 15.60px; word-wrap: break-word">GROUP | </div>
            <div style="color: white; font-size: 12.50px; font-family: Inter; font-weight: 700; line-height: 15.60px; word-wrap: break-word">PRIVATE</div>
        </div>
        <div style="padding-top: 9.95px; padding-bottom: 9.55px; padding-left: 10px; padding-right: 8.64px; left: 278.36px; top: 164.50px; position: absolute; background: rgba(136, 198, 31, 0.70); box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.50); justify-content: center; align-items: center; display: inline-flex">
            <div style="color: white; font-size: 12.50px; font-family: Inter; font-weight: 700; line-height: 15.60px; word-wrap: break-word">$49 per adult</div>
        </div>
    </div>
    <div class="content" style="margin-top: 35px;">
        <h2>KOLSAI & KAINDY LAKES WITH CHARYN CANYON DAY EXPRESS TOUR</h2>
    
        <!-- Details -->
        <div class="details">
          <div class="detail">
            <span class="icon">📍</span>
            <strong>Starting/ending point:</strong> Almaty city
          </div>
          <div class="detail">
            <span class="icon">📏</span>
            630 km from Almaty and back
          </div>
          <div class="detail">
            <span class="icon">⏳</span>
            <strong>Duration:</strong> 16 hours
          </div>
          <div class="detail">
            <span class="icon">📆</span>
            <strong>Availability:</strong> all year round
          </div>
        </div>
    
        <!-- Button -->
        <button class="details-button">Details</button>
    </div>
</div>