<app-header></app-header>

<div class="page-container">
  <div class="box">
    <div class="action-buttons">
      <button 
        class="action-button" 
        [class.active]="activeForm === 'tour'"
        (click)="setActiveForm('tour')"
      >
        Create a new tour
      </button>
      <button 
        class="action-button" 
        [class.active]="activeForm === 'event'"
        (click)="setActiveForm('event')"
      >
        Create a new tour event
      </button>
    </div>

     
    <form *ngIf="activeForm === 'tour'" class="profile-form" [formGroup]="tourForm">
      <div class="form-field">
        <label class="form-label" for="route">Tour Route</label>
        <input 
          id="route"
          formControlName="route"
          class="field-input"
          type="text"
          placeholder="Tour Route"
        >
      </div>
      <div class="form-field">
        <label class="form-label" for="desc">Tour Description</label>
        <input 
          id="desc"
          formControlName="desc"
          class="field-input"
          type="text"
          placeholder="Description"
        >
      </div>
      <div class="form-field">
        <label class="form-label" for="images">Images</label>
        <div class="field-input images-select">
          <input 
            id="images"
            type="file"
            multiple
            accept="image/*"
            (change)="filesSelected($event)"
          >
        </div>
      </div>
      <button
        mat-raised-button
        [class.primary-state]="!tourCreateSuccess()"
        [class.success-state]="tourCreateSuccess()"
        type="submit"
        class="form-field submit-button"
        (click)="createTour()"
      >
        Create Tour
      </button>
    </form>

     
    <form *ngIf="activeForm === 'event'" class="profile-form" [formGroup]="eventForm">
    <div class="form-field">
        <label class="form-label" for="tourId">Tour</label>
        <select
        id="tourId"
        formControlName="tourId"
        class="field-input"
        >
        <option value="" disabled selected>Select a tour</option>
        <option *ngFor="let tour of tours()" [value]="tour.ID">
            {{ tour.route }} ({{ tour.description }})
        </option>
        </select>
    </div>
     
    <div class="form-field">
        <label class="form-label" for="date">Date and Time</label>
        <input 
        id="date"
        formControlName="date"
        class="field-input"
        type="datetime-local"
        >
    </div>
    <div class="form-field">
        <label class="form-label" for="place">Place</label>
        <input 
        id="place"
        formControlName="place"
        class="field-input"
        type="text"
        placeholder="Location"
        >
    </div>
    <div class="form-field">
        <label class="form-label" for="price">Price</label>
        <input 
        id="price"
        formControlName="price"
        class="field-input"
        type="number"
        placeholder="Price"
        step="0.01"
        >
    </div>
    <div class="form-field">
        <label class="form-label" for="amountOfPlaces">Amount of Places</label>
        <input 
        id="amountOfPlaces"
        formControlName="amountOfPlaces"
        class="field-input"
        type="number"
        placeholder="Available spots"
        >
    </div>
    <button
        mat-raised-button
        [class.primary-state]="!eventCreateSuccess()"
        [class.success-state]="eventCreateSuccess()"
        type="submit"
        class="form-field submit-button"
        (click)="createEvent()"
    >
        Create Event
    </button>
    </form>
  </div>
</div>