<app-header></app-header>

<div class="page-container">
    <div class="welcome-text" i18n>Welcome, {{ username }}</div>

    <div class="main-box">
        <div class="profile-field">
            <div class="profile-data">
                <div class="avatar" [ngStyle]="styles"></div>
                <div class="login-field">
                    <div class="username">{{ username }}</div>
                    <div class="email">{{ email }}</div>
                </div>
            </div>

            @if (shownPage == pages.events) {
                <button class="profile-button" (click)="editProfile()" i18n>Edit</button>
            }
            @else if (shownPage == pages.editProfile) {
                <button style="margin-left: 700px;" class="profile-button" (click)="saveChanges()" i18n>Save</button>
                <button class="profile-button" (click)="returnToProfile()" i18n>Cancel</button>
            }
        </div>
         
        @if (shownPage == pages.events) {
            <div class="header" i18n>Upcoming events</div>

            <app-user-tours></app-user-tours>
        }
        @else if (shownPage == pages.editProfile) {
            <app-edit-profile [username]="username" [email]="email"></app-edit-profile>
        }
    </div>
</div>
