<div class="container">
    <div class="info">
        <div class="header">About this activity</div>
        <div class="field">
            <img class="icon" src="assets/images/calendar.svg" alt="">
            <div class="info-text">
                <div class="sub-header">Free cancelation</div>
                <div class="field-text">Cancel up to 24 hours in advance for a full refund</div>
            </div>
        </div>
        <div class="field">
            <img class="icon" src="assets/images/credit-card.svg" alt="">
            <div class="info-text">
                <div class="sub-header">Easy payment</div>
                <div class="field-text">Keep your travel plans — book your spot easy</div>
            </div>
        </div>
        <div class="field">
            <img class="icon" src="assets/images/clock.svg" alt="">
            <div class="info-text">
                <div class="sub-header">Duration 15 hours</div>
                <div class="field-text">Check availability to see starting times</div>
            </div>
        </div>
        <div class="field">
            <img class="icon" src="assets/images/user-check.svg" alt="">
            <div class="info-text">
                <div class="sub-header">Live tour guides</div>
                <div class="field-text">English, Kazakh, Russian</div>
            </div>
        </div>
        <div class="field">
            <img class="icon" src="assets/images/users.svg" alt="">
            <div class="info-text">
                <div class="sub-header">Small groups</div>
                <div class="field-text">Limited to 8 participants</div>
            </div>
        </div>
    </div>

    <div class="purchase-box">
        <div class="price-box">
            <span class="text">Price</span><br>
            <span class="price">{{tourEvent.price | currency}}</span><br>
            <span class="text">per person</span>
        </div>
        <div class="button-box">
            <div class="buy-button" (click)="goToPurchase()">Buy</div>
        </div>
    </div>
</div>
