<app-header></app-header>

<div class="page-container">
    <div class="form-container">
        <h5 class="title">Create an account<br></h5>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-field">
                <label class="form-label" for="loginInput">First name</label>
                <input
                    id="loginInput"
                    formControlName="login"
                    class="form-input"
                    type="text"
                    aria-label="First name input field"
                    placeholder="Enter your first name">
            </div>

            <div class="form-field">
                <label class="form-label" for="lastName">Last Name</label>
                <input
                    id="lastName"
                    formControlName="lastName"
                    class="form-input"
                    type="text"
                    aria-label="Last Name"
                    placeholder="Enter your last name">
            </div>

            <div class="form-field">
                <label class="form-label" for="emailInput">Email</label>
                <input
                    id="emailInput"
                    formControlName="email"
                    class="form-input"
                    type="text"
                    aria-label="Email input field"
                    placeholder="Enter your email">
            </div>

            <div class="form-field">
                <label class="form-label" for="passwordInput">Password</label>
                <input
                    id="passwordInput"
                    formControlName="password"
                    class="form-input"
                    type="password"
                    aria-label="Password input field"
                    placeholder="Enter your password"
                >
            </div>

            <button class="link-button" style="margin-top: 45px;" type="submit">
                <div class="button-text">Sign up</div>
            </button>

            <div class="agreement-text">
                By signing up, you agree to our
                <a [href]="filePaths.terms" target="_blank" rel="noopener noreferrer">Terms of Service</a> and
                <a [href]="filePaths.privacy" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
            </div>
        </form>
    </div>
</div>
