<app-header></app-header>

<div class="page-container">
  <div class="form-container">
      <h5 class="title">Sign In<br></h5>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-field">
          <label class="form-label" for="loginInput" i18n>Login or email</label>
          <input
            id="loginInput"
            formControlName="login"
            class="form-input"
            type="text"
            aria-label="Email input field"
            placeholder="Enter your login or email">
        </div>

        <div class="form-field">
          <label class="form-label" for="passwordInput" i18n>Password</label>
          <input
            id="passwordInput"
            formControlName="password"
            class="form-input"
            type="password"
            aria-label="Password input field"
            placeholder="Enter your password"
          >
        </div>

        <button class="link-button" style="margin-top: 45px;" type="submit">
          <div class="button-text" i18n>Sign in</div>
        </button>
  
        <div class="agreement-text" i18n>
          By signing up, you agree to our 
          <a [href]="filePaths.terms" target="_blank" rel="noopener noreferrer">Terms of Service</a> and 
          <a [href]="filePaths.privacy" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
        </div>
    </form>
  </div>
</div>
