.part-header {
    color: #5A5A5A; 
    font-size: 33.90px; 
    font-family: Inter; 
    font-weight: 700; 
    text-transform: uppercase; 
    line-height: 43.20px; 
    word-wrap: break-word;
    text-align: center;
}