<!-- Profile icon -->
<div style="width: 100%; height: 100%; padding-top: 13px; padding-right: 22px; padding-bottom: 771px; justify-content: flex-end; align-items: center; display: inline-flex">
    <div style="width: 48px; height: 48px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
        <img src="assets/images/User.svg" alt="group of people" style="width: 32px; height: 36px; border: 4px #0d0000 solid">
    </div>
</div>

<!-- Schedule tour -->
<app-tour-schedule></app-tour-schedule>

<!-- All Almaty tours list -->
<app-all-tours></app-all-tours>

<!-- "How to book a tour" part -->
<div style="width: 100%; height: 100%; padding-left: 135px; padding-right: 135px; padding-top: 30px; padding-bottom: 30px; background: #4D4C4C; justify-content: center; align-items: center; display: inline-flex">
    <div style="width: 1200px; height: 89.50px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex"></div>
</div>

<div class="part-header">How to book a tour?</div>
<div>
    <img src="assets/images/book-tour-steps.png" alt="Steps to book a tour" style="width: 1200px; height: 300px; position: relative; display: block; margin: auto;">
</div>

<!-- "About us" part -->
<div style="position: relative; display: flex; justify-content: center;">
    <div style="width: 100%; height: 100%; position: relative"> <!-- Make width: fit-content to center div later -->
        <div class="part-header">Our principles</div>
        <div class="part-header">About us</div>
        <div>
            <img src="assets/images/Diamond.svg" alt="" style="width: 110px; height: 105px; top: 90px; left: 150px; position: relative;">
            <img src="assets/images/Business Handshake.svg" alt="" style="width: 110px; height: 105px; top: 90px; left: 435px; position: relative;">
            <img src="assets/images/Coin Share.svg" alt="" style="width: 110px; height: 105px; top: 90px; left: 725px; position: relative;">
        </div>
        <div>
            <div style="width: 349px; left: 22px; top: 328px; position: absolute; text-align: center; color: #5A5A5A; font-size: 13px; font-family: Inter; font-weight: 700; text-transform: uppercase; line-height: 43.20px; word-wrap: break-word">⭕ We serve with love<br/>⭕ Our tour products are carefully designed<br/>⭕ We care about the comfort of our tourists</div>
            <div style="width: 349px; left: 22px; top: 284px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Inter; font-weight: 700; text-transform: uppercase; line-height: 43.20px; word-wrap: break-word">High-quality service</div>
        </div>
        <div>
            <div style="width: 409px; left: 803px; top: 333px; position: absolute; text-align: center; color: #5A5A5A; font-size: 13px; font-family: Inter; font-weight: 700; text-transform: uppercase; line-height: 43.20px; word-wrap: break-word">⭕ Tourist safety is by default<br/>⭕ We deliver everything we promise in our services<br/>⭕ Trusted B2B partner</div>
            <div style="width: 349px; left: 420px; top: 284px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Inter; font-weight: 700; text-transform: uppercase; line-height: 43.20px; word-wrap: break-word">Hospitality</div>
        </div>
        <div>   
            <div style="width: 349px; left: 425px; top: 328px; position: absolute; text-align: center; color: #5A5A5A; font-size: 13px; font-family: Inter; font-weight: 700; text-transform: uppercase; line-height: 43.20px; word-wrap: break-word">⭕ It is in our blood<br/>⭕ We treat our clients with warmth and love<br/>⭕ Customer satisfaction is our top priority</div>
            <div style="width: 349px; left: 818px; top: 284px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Inter; font-weight: 700; text-transform: uppercase; line-height: 43.20px; word-wrap: break-word">Responsibility</div>
        </div>
    </div>
</div>

<!-- "We are in numbers" part -->
<img style="margin-top: 300px;" src="assets/images/numbers-background.png" alt="">

<!-- Instagram -->
<div style="width: 100%; height: 100%; position: relative;">
    <div style="width: 1200px; height: 926.66px; left: 0px; top: 50px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 2px; display: inline-flex">
        <div style="width: 1200px; height: 72px; padding-top: 20px; padding-bottom: 20px; background: white; justify-content: center; align-items: center; display: inline-flex">
            <div style="flex: 1 1 0; align-self: stretch; padding-left: 166.15px; padding-right: 166.15px; justify-content: center; align-items: center; gap: 52.35px; display: inline-flex">
                <div style="color: black; font-size: 14.90px; font-family: Inter; font-weight: 900; line-height: 18px; word-wrap: break-word">&#64;skyway_travel</div>
                <div style="width: 92.35px; align-self: stretch; padding-left: 12px; padding-right: 12.35px; background: #0095F6; border-radius: 4px; overflow: hidden; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
                    <div style="width: 16px; height: 16px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                        <img src="assets/images/instagram-icon.svg" alt="">
                    </div>
                    <div style="color: white; font-size: 13.80px; font-family: Inter; font-weight: 700; line-height: 32px; word-wrap: break-word">Follow</div>
                </div>
            </div>
        </div>
        <img style="align-self: stretch; height: 1578.50px" src="assets/images/instagram-page.png" />
    </div>
</div>

<!-- Reviews -->
<!-- <div class="part-header">Reviews of our tourists</div>
<img src="assets/images/reviews.svg" alt=""> -->
