<!-- Profile icon -->
<div style="width: 100%; height: 100%; padding-top: 13px; padding-right: 22px; padding-bottom: 771px; justify-content: flex-end; align-items: center; display: inline-flex">
    <div style="width: 48px; height: 48px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
        <img src="assets/images/User.svg" alt="group of people" style="width: 32px; height: 36px; border: 4px #0d0000 solid">
    </div>
</div>

<!-- Schedule tour -->
<app-tour-schedule></app-tour-schedule>

<!-- All Almaty tours list -->
<app-all-tours></app-all-tours>
