<!-- Top of the page -->
<!-- <div id="top-of-page" style="overflow: hidden;">
    <div style="transform: scale(1.0347); transform-origin: top left;"> -->
        <app-top-of-page></app-top-of-page>
    <!-- </div>
</div> -->

<!-- Schedule tour -->
<div style="background-color: #F8F8F8;">
    <app-tour-schedule></app-tour-schedule>
</div>


<!-- All Almaty tours list -->
<app-all-tours></app-all-tours>

<!-- "How to book a tour" part -->
<div style="width: 100%; height: 100%; padding-top: 30px; padding-bottom: 30px; background: #4D4C4C; justify-content: center; align-items: center; display: inline-flex;">
    <div style="height: 89.50px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex"></div>
</div>

<div class="part-header">How to book a tour?</div>
<div>
    <img src="assets/images/book-tour-steps.png" alt="Steps to book a tour" style="width: 1200px; height: 300px; position: relative; display: block; margin: auto;">
</div>

<!-- "About us" part -->
<div class="part-header">Our principles</div>
<div class="part-header">About us</div>
<div style="display: flex; justify-content: space-around;">
    <div style="display: flex; flex-direction: column; align-items: center;">
        <img src="assets/images/Diamond.svg" alt="" style="width: 110px; height: 105px;">
        <div style="width: 349px; text-align: center; color: black; font-size: 20px; font-family: Inter; font-weight: 700; text-transform: uppercase; line-height: 43.20px; word-wrap: break-word">High-quality service</div>
        <div style="width: 349px; text-align: center; color: #5A5A5A; font-size: 13px; font-family: Inter; font-weight: 700; text-transform: uppercase; line-height: 43.20px; word-wrap: break-word">
            ⭕ We serve with love<br/>
            ⭕ Our tour products are carefully designed<br/>
            ⭕ We care about the comfort of our tourists
        </div>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center;">
        <img src="assets/images/Business Handshake.svg" alt="" style="width: 110px; height: 105px;">
        <div style="width: 349px; text-align: center; color: black; font-size: 20px; font-family: Inter; font-weight: 700; text-transform: uppercase; line-height: 43.20px; word-wrap: break-word">Hospitality</div>
        <div style="width: 349px; text-align: center; color: #5A5A5A; font-size: 13px; font-family: Inter; font-weight: 700; text-transform: uppercase; line-height: 43.20px; word-wrap: break-word">
            ⭕ It is in our blood<br/>
            ⭕ We treat our clients with warmth and love<br/>
            ⭕ Customer satisfaction is our top priority
        </div>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center;">
        <img src="assets/images/Coin Share.svg" alt="" style="width: 110px; height: 105px;">
        <div style="width: 349px; text-align: center; color: black; font-size: 20px; font-family: Inter; font-weight: 700; text-transform: uppercase; line-height: 43.20px; word-wrap: break-word">Responsibility</div>
        <div style="width: 349px; text-align: center; color: #5A5A5A; font-size: 13px; font-family: Inter; font-weight: 700; text-transform: uppercase; line-height: 43.20px; word-wrap: break-word">
            ⭕ Tourist safety is by default<br/>
            ⭕ We deliver everything we promise in our services<br/>
            ⭕ Trusted B2B partner
        </div>
    </div>
</div>


<!-- <div style="display: block;">
    <div style="position: relative; justify-content: center;">
        <div style="width: 100%; height: 100%; position: relative">
            <div class="part-header">Our principles</div>
            <div class="part-header">About us</div>
            <div>
                <img src="assets/images/Diamond.svg" alt="" style="width: 110px; height: 105px; top: 90px; left: 150px; position: relative;">
                <img src="assets/images/Business Handshake.svg" alt="" style="width: 110px; height: 105px; top: 90px; left: 435px; position: relative;">
                <img src="assets/images/Coin Share.svg" alt="" style="width: 110px; height: 105px; top: 90px; left: 725px; position: relative;">
            </div>
            <div>
                <div style="width: 349px; left: 22px; top: 328px; position: absolute; text-align: center; color: #5A5A5A; font-size: 13px; font-family: Inter; font-weight: 700; text-transform: uppercase; line-height: 43.20px; word-wrap: break-word">⭕ We serve with love<br/>⭕ Our tour products are carefully designed<br/>⭕ We care about the comfort of our tourists</div>
                <div style="width: 349px; left: 22px; top: 284px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Inter; font-weight: 700; text-transform: uppercase; line-height: 43.20px; word-wrap: break-word">High-quality service</div>
            </div>
            <div>
                <div style="width: 409px; left: 803px; top: 333px; position: absolute; text-align: center; color: #5A5A5A; font-size: 13px; font-family: Inter; font-weight: 700; text-transform: uppercase; line-height: 43.20px; word-wrap: break-word">⭕ Tourist safety is by default<br/>⭕ We deliver everything we promise in our services<br/>⭕ Trusted B2B partner</div>
                <div style="width: 349px; left: 420px; top: 284px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Inter; font-weight: 700; text-transform: uppercase; line-height: 43.20px; word-wrap: break-word">Hospitality</div>
            </div>
            <div>   
                <div style="width: 349px; left: 425px; top: 328px; position: absolute; text-align: center; color: #5A5A5A; font-size: 13px; font-family: Inter; font-weight: 700; text-transform: uppercase; line-height: 43.20px; word-wrap: break-word">⭕ It is in our blood<br/>⭕ We treat our clients with warmth and love<br/>⭕ Customer satisfaction is our top priority</div>
                <div style="width: 349px; left: 818px; top: 284px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Inter; font-weight: 700; text-transform: uppercase; line-height: 43.20px; word-wrap: break-word">Responsibility</div>
            </div>
        </div>
    </div>
</div> -->


<!-- "We are in numbers" part -->
<!-- <img style="" src="assets/images/numbers-background.png" alt=""> -->

<!-- Instagram -->
<!-- <div class="part-header">We are on Instagram</div>
 <div style="height: 1200px; width: 1700px; display: block; position: static;">
    <div style="width: 100%; height: 100%; position: relative;">
        <div style="width: 1200px; height: 926.66px; left: 0px; top: 50px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 2px; display: inline-flex">
            <div style="width: 1200px; height: 72px; padding-top: 20px; padding-bottom: 20px; background: white; justify-content: center; align-items: center; display: inline-flex">
                <div style="flex: 1 1 0; align-self: stretch; padding-left: 166.15px; padding-right: 166.15px; justify-content: center; align-items: center; gap: 52.35px; display: inline-flex">
                    <div style="color: black; font-size: 14.90px; font-family: Inter; font-weight: 900; line-height: 18px; word-wrap: break-word">&#64;skyway_travel</div>
                    <div style="width: 92.35px; align-self: stretch; padding-left: 12px; padding-right: 12.35px; background: #0095F6; border-radius: 4px; overflow: hidden; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
                        <div style="width: 16px; height: 16px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                            <img src="assets/images/instagram-icon.svg" alt="">
                        </div>
                        <div style="color: white; font-size: 13.80px; font-family: Inter; font-weight: 700; line-height: 32px; word-wrap: break-word">Follow</div>
                    </div>
                </div>
            </div>
            <img style="height: 1578.50px; width: 1200px;" src="assets/images/instagram-page.png" />
        </div>
    </div>
</div> -->

<!-- Reviews -->
<div class="part-header">Reviews of our tourists</div>
<img style="width: 100%; margin: auto;" src="assets/images/reviews.svg" alt="">

<!-- Footer -->
<div style="width: 100%; height: 442px; position: relative; background: #4D4C4C">
    <div style="color: white; font-size: 33.90px; font-family: Inter; font-weight: 700; text-transform: uppercase; line-height: 43.20px; word-wrap: break-word; text-align: center;">CONTACT US</div>
    <img style="width: 735px; height: 592.79px; left: 36px; top: -133.87px; position: absolute; opacity: 0.20" src="assets/images/footer-emblem.png" />
    <div style="width: 100%; height: 220px; position: relative; top: 150px;">
        <img style="width: 150px; height: 176.38px; left: 1150px; top: 20px; position: absolute" src="assets/images/trip-advisor-award.png" />
        
        <div style="height: 184.50px; padding-top: 30.45px; padding-bottom: 30px; padding-left: 20px; padding-right: 20px; left: 514.50px; top: 0px; position: absolute; flex-direction: column; justify-content: center; align-items: center; gap: 9.05px; display: inline-flex">
            <div style="color: white; font-size: 10.90px; font-family: Inter; font-weight: 300; line-height: 15.60px; word-wrap: break-word">Kazakhstan, Almaty, Tole Bi street 59</div>
            <div style="width: 401px; height: 99px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                <!-- <div style="color: white; font-size: 12.70px; font-family: Inter; font-weight: 400; line-height: 15.60px; word-wrap: break-word">info&#64;skywaytravel.com</div> -->
                <div style="height: 73.50px; flex-direction: column; justify-content: center; align-items: center; gap: 9.55px; display: inline-flex">
                    <div style="color: white; font-size: 12.70px; font-family: Inter; font-weight: 400; line-height: 15.60px; word-wrap: break-word">info&#64;skywaytravel.com</div>
                    <div style="color: white; font-size: 12.70px; font-family: Inter; font-weight: 400; line-height: 15.60px; word-wrap: break-word">+7 777 777 77 77</div>
                    <div style="align-self: stretch; height: 48px; padding-left: 99px; padding-right: 99px; padding-top: 5px; padding-bottom: 5px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                        <img style="width: 32px; height: 32px; position: relative" src="assets/images/whatsapp.png" />
                        <img style="width: 32px; height: 32px; position: relative" src="assets/images/telegram.png" />
                        <img style="width: 32px; height: 31px; position: relative" src="assets/images/instagram.png" />
                        <img style="width: 22px; height: 38px; position: relative" src="assets/images/facebook.png" />
                        <img style="width: 45px; height: 32px; position: relative" src="assets/images/youtube.png" />
                    </div>
                </div>
            </div>
        </div>

        <div style="padding-top: 29.95px; padding-bottom: 29.55px; padding-left: 136.98px; padding-right: 137.02px; left: 24.50px; top: 0px; position: absolute; flex-direction: column; justify-content: center; align-items: center; gap: 9.50px; display: inline-flex">
            <div style="color: white; font-size: 12.70px; font-family: Inter; font-weight: 400; line-height: 15.60px; word-wrap: break-word">Home</div>
            <div><span style="color: white; font-size: 12.70px; font-family: Inter; font-weight: 400; line-height: 15.60px; word-wrap: break-word">Tours |</span><span style="color: white; font-size: 10.90px; font-family: Inter; font-weight: 300; line-height: 15.60px; word-wrap: break-word"> </span><span style="color: white; font-size: 12.70px; font-family: Inter; font-weight: 400; line-height: 15.60px; word-wrap: break-word">Group tour schedule</span></div>
            <div style="color: white; font-size: 12.70px; font-family: Inter; font-weight: 400; line-height: 15.60px; word-wrap: break-word">How to book</div>
            <div style="color: white; font-size: 12.70px; font-family: Inter; font-weight: 400; line-height: 15.60px; word-wrap: break-word">Entry rules to KAZ</div>
            <div style="color: white; font-size: 12.70px; font-family: Inter; font-weight: 400; line-height: 15.60px; word-wrap: break-word">About us</div>
        </div>
    </div>
</div>
