<!-- Top of the page -->

<div style="width: 100%; height: 832px; position: relative; background-image: url('assets/images/backround-image.png'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <!-- Profile icon -->
    <div style="width: 100%; height: 100%; padding-top: 13px; padding-right: 22px; justify-content: end; display: inline-flex; position: absolute; z-index: 10;">
        <div style="width: 48px; height: 48px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex; cursor: pointer;" (click)="sign_in()">
            <img src="assets/images/User.svg" alt="group of people" style="width: 32px; height: 36px; border: 4px #F5F5F5 solid">
        </div>
    </div>
    <!-- SkyWay logo -->
    <div style="height: 108.1px; width: 235px; left: 7.93px; top: 0px; display: block; margin: auto">
        <img style="width: 235px; height: 108.11px;" src="assets/images/skyway-logo.png" />
        <div style="width: 250px; left: 0px; top: 113.06px; color: white; font-size: 12.50px; font-family: Inter; font-weight: 700; line-height: 15.60px; word-wrap: break-word">High quality • Hospitality • Responsibility</div>
    </div>
    <!-- Center text -->
    <div style="width: 1200px; height: 180px; top: 25%; position: relative; margin: auto;">
        <div style="left: 80.06px; top: 0px; position: absolute; color: white; font-size: 72.20px; font-family: Inter; font-weight: 700; line-height: 90px; word-wrap: break-word">TOURS & TRIPS in Almaty and </div>
        <div style="left: 398.62px; top: 90px; position: absolute; color: white; font-size: 72.20px; font-family: Inter; font-weight: 700; line-height: 90px; word-wrap: break-word">Kazakhstan</div>
    </div>
    <!-- Go-to buttons -->
    <div>
        <div style="width: 940px; height: 78px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 42px; left: 130px; top: 714px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
            <div style="width: 225px; padding-left: 40.59px; padding-right: 37.41px; background: rgba(0, 0, 0, 0.25); border-radius: 15px; border: 1px white solid; justify-content: center; align-items: center; display: flex">
                <div style="color: white; font-size: 12.70px; font-family: Inter; font-weight: 400; line-height: 15.60px; word-wrap: break-word">ALMATY GROUP TOURS</div>
            </div>
            <div style="width: 225px; padding-left: 51.33px; padding-right: 46.67px; background: rgba(0, 0, 0, 0.25); border-radius: 15px; border: 1px white solid; justify-content: flex-end; align-items: center; display: flex">
                <div style="color: white; font-size: 12.70px; font-family: Inter; font-weight: 400; line-height: 15.60px; word-wrap: break-word">ALMATY DAY TOURS</div>
            </div>
            <div style="width: 225px; padding-left: 33.68px; padding-right: 28.32px; background: rgba(0, 0, 0, 0.25); border-radius: 15px; border: 1px white solid; justify-content: flex-end; align-items: center; display: flex">
                <div style="color: white; font-size: 12.70px; font-family: Inter; font-weight: 400; line-height: 15.60px; word-wrap: break-word">ALMATY MULTI-DAY TRIPS</div>
            </div>
            <div style="width: 225px; padding-left: 57.81px; padding-right: 55.19px; background: rgba(0, 0, 0, 0.25); border-radius: 15px; border: 1px white solid; justify-content: center; align-items: center; display: flex">
                <div style="color: white; font-size: 12.70px; font-family: Inter; font-weight: 400; line-height: 15.60px; word-wrap: break-word">REVIEWS about us</div>
            </div>
        </div>
    </div>
    
</div>