.page-container {
  /* background-image: url("../../../assets/images/mountains-background.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.detail {
  position: relative;
  background-color: #FEFEFE;
  /* width: 100%; */
  height: 100%;
  top: 100px;
  margin-left: 100px;
}