<div class="container">
    <div class="info">
        <div class="header">Itinerary</div>
        <div class="plan">
            <ul>
                <li>05:00 - 06:00 Pick-up and departure from Almaty</li>
                <li>Shortstop for coffee/WC</li>
                <li>Charyn Canyon "Valley of the Castles", visiting several spots, walking along the bottom of the canyon</li>
                
            </ul>
        </div>
    </div>

    <div class="location-box">
        <div class="location-label">
            <img src="assets/images/map-pin.svg" alt="">
            <div class="location-label-text">Meeting Point</div>
        </div>

        <div class="location-map">
            <iframe
                width="380"
                height="287"
                frameborder="0" style="border:0"
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCyPWUk0_TjEcUDrZJ3eQjMR30CWkxNE3k&q=43.2403499,76.9055115"
                allowfullscreen
            >
            </iframe>
        </div>
        <!-- <google-map height="400px" width="400px" [center]="center" [zoom]="zoom" [options]="mapOptions"></google-map> -->
    </div>
</div>

<div class="field">
    <div class="field-label">Highlights</div>
    <div class="field-text">
        <ul>
            <li>sdgmvslwerrrrrrrrrrrrrrrrrrrrrgtreherherdhdfh</li>
            <li>sdgmvslwerrrrrrrrrrrrrrrrrrrrrgtreherherdhdfh</li>
            <li>sdgmvslwerrrrrrrrrrrrrrrrrrrrrgtreherherdhdfh</li>
            <li>sdgmvslwerrrrrrrrrrrrrrrrrrrrrgtreherherdhdfh</li>
        </ul>
    </div>
</div>
