<div class="container">
    <div class="info">
        <div class="header">Itinerary</div>
        <div class="plan">
            <ul>
                <li>05:00 - 06:00 Pick-up and departure from Almaty</li>
                <li>Shortstop for coffee/WC</li>
                <li>Charyn Canyon "Valley of the Castles", visiting several spots, walking along the bottom of the canyon</li>
                <li>Departure from Charyn Canyon</li>
                <li>Shortstop at Moon Canyon, viewing spot</li>
                <li>Shortstop at Black Canyon, viewing spot</li>
                <li>Trip to Kaindy Lake</li>
                <li>Kaindy Lake, short hike (~20 min), viewing spots</li>
                <li>Lunch in the guesthouse of Saty village</li>
                <li>Transfer to the Lower Kolsai Lake from Saty</li>
                <li>Kolsay Lake, walking, visiting several spots, horseback-riding or boating (optional)</li>
                <li>Leaving Kolsai Lakes National Park</li>
                <li>Shortstop for coffee/WC</li>
                <li>21:00 - 22:00 Drop-off in Almaty</li>
            </ul>
        </div>
    </div>

    <div class="location-box">
        <div class="location-label">
            <img src="assets/images/map-pin.svg" alt="">
            <div class="location-label-text">Meeting Point</div>
        </div>

        <div class="location-map">
            <iframe
                width="380"
                height="287"
                frameborder="0" style="border:0"
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCyPWUk0_TjEcUDrZJ3eQjMR30CWkxNE3k&q=43.2403499,76.9055115"
                allowfullscreen
            >
            </iframe>
        </div>
         
    </div>
</div>

<div class="field">
    <div class="field-label">Highlights</div>
    <div class="field-text">
        <ul>
            <li>Enjoy Almaty's TOP natural destinations in 1 day</li>
            <li>Travel in comfort in an uncrowded small group of up to 8 foreign tourists</li>
            <li>Discover Kazakh national cuisine and hospitality in a remote village</li>
            <li>Enjoy your trip together as part of an international group of tourists from all over the world</li>
        </ul>
    </div>
</div>
<div class="field">
    <div class="field-label">What's included</div>
    <div class="field-text">
        <ul>
            <li>Roundtrip transportation</li>
            <li>Entrance tickets for National Parks</li>
            <li>Driver/guide</li>
            <li>Hotel pickup and drop-off</li>
        </ul>
    </div>
</div>
<div class="field">
    <div class="field-label">Important information</div>
    <div class="field-text">
        <ul>
            What to bring
                <li>Passport or ID card</li>
                <li>Comfortable shoes</li>
            Not allowed
                <li>Pets</li>
        </ul>
    </div>
</div>

<a href="https://t.me/+AKJ99MkB40RjOTFi" target="_blank">
    <div class="telegram">
        <img class="icon" src="assets/images/telegram-icon.svg" alt="">
        <div class="telegram-text">Chat For Travelers</div>
    </div>
</a>


