<!-- @for (tours_header of headers_list; track tours_header; let id = $index) {
  <div class="part-header" style="margin-bottom: 30px;">{{ tours_header }}</div>

  @for (tour_data of tours[id]; track tour_data) {
    <app-tour-card [tour]="tour_data" style="margin-left: 20px;"></app-tour-card>
  }
} -->

<!-- Almaty Day Tours -->
<div class="part-header" style="margin-bottom: 30px;">Almaty Day Tours</div>

<div class="grid-cards">
  @for (tourData of tours; track tourData) {
    <app-tour-card [tour]="tourData" [userId]="userId"></app-tour-card>
  }
</div>

@if (hiddenTours.length > 0) {
  <div class="see-more" (click)="expandTours()">
    See More
  </div>
}

<!-- Almaty Multi Day Tours -->
<div class="part-header" style="margin-bottom: 35px;">Almaty Multi Day Tours</div>

<div class="simple-cards-scroll">
  <div class="arrow-section">
    @if (isLeftArrowShown) {
      <div class="arrow" (click)="prevMultiTours()">&#10094;</div>
    }
  </div>

  <div class="list-cards" [style.transform]="'translateX(' + (-currentPart * 280) + 'px)'">
    @for (multiTour of multiTours; track multiTour) {  
      <div class="simple-card">
        <img class="simple-card-image" src="assets/images/simple-tour-card-example-1.png" alt="">
        <div class="simple-card-route">{{ multiTour.route }}</div>
        <div class="simple-card-duration">4 days tour</div>
      </div>
    }
  </div>

  <div class="arrow-section">
    @if (isRightArrowShown) {
      <div class="arrow" (click)="nextMultiTours()">&#10095;</div>
    }
  </div>
  
</div>

